# Users: see https://godot-rust.github.io/book/toolchain/export-web.html for details.

# The cargo flag "-Zbuild-std" is also required but this cannot yet be specified for specific
# targets: https://github.com/rust-lang/cargo/issues/8733
[target.wasm32-unknown-emscripten]
rustflags = [
    # If threads are enabled, uncomment the following two:
    #"-C", "link-args=-pthread",
    #"-C", "target-feature=+atomics",

    "-C", "link-args=-sSIDE_MODULE=2",
    "-C", "llvm-args=-enable-emscripten-cxx-exceptions=0",
    "-Z", "default-visibility=hidden",
    "-Z", "link-native-libraries=no",
    "-Z", "emscripten-wasm-eh=false",
]
